*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

body{
  height: 100vh;
  overflow-y: hidden;
}

a{
  text-decoration: none;
  color: #000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}